* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body div {
  display: block;
  width: 400px;
  align-items: center;
  margin: 0 auto;
}

header {
  background-color: #116933;
  height: 85px;
  box-shadow: 3px 3px 8px 1px #000000;
  margin-bottom: 20px;
}

.title {
  color: #ffffff;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  font-weight: bold;
  padding-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #116933;
  font-size: large;
  font-weight: 700;
  margin-top: 15px;
}

input,
select {
  height: 35px;
  padding-left: 10px;
}

.button {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.btn {
  margin-top: 20px;
  align-items: center;
  appearance: none;
  background-color: #dfdfdf;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(35, 66, 40, 0.4) 0 2px 4px,
    rgba(201, 201, 201, 0.3) 0 7px 13px -3px, #d6e7d9 0 -3px 0 inset;
  box-sizing: border-box;
  color: #116933;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  width: 150px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  box-shadow: 3px 3px 8px 1px #000000;
}

.btn:focus {
  box-shadow: #d6e7d9 0 0 0 1.5px inset, rgba(35, 66, 40, 0.4) 0 2px 4px,
    rgba(35, 66, 40, 0.4) 0 7px 13px -3px, #d6e7d9 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(35, 66, 40, 0.4) 0 4px 8px,
    rgba(45, 3div5, 66, 0.3) 0 7px 13px -3px, #d6e7d9 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #d6e7d9 0 3px 7px inset;
  transform: translateY(2px);
}
