* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
.content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  margin: 20px;
}
.btn1 {
  width: 80px;
  background-color: green;
  color: white;
}
.btn2 {
  width: 80px;
  background-color: red;
  color: white;
}
.new-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
