* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}
