@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bkg--color: rgb(255, 255, 255);
  --title-color: #696969;
  --label-color: rgba(71, 71, 71, 0.74);
  --primary-color: #a1a1a1;
  --secundary-color: #cccccc;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bkg--color);
  width: 80%;
  margin: 15px;
  padding: 40px;
  gap: 40px;
  box-shadow: 3px 3px 5px 4px #0000004d;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;
  margin-top: 10px;
  width: 80%;
}

.logo {
  width: 120px;
  display: flex;
  align-content: initial;
}
.header-container img {
  padding-bottom: 10px;
  color: #737373;
}

.header-container h1 {
  color: transparent;
  background: var(--title-color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.text-container {
  margin-left: 15px;
}

.title {
  font-size: 40px;
  text-align: center;
  user-select: none;
  color: transparent;
  background: var(--title-color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
}
.inputbox {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 40px;
}

.inputbox label {
  position: relative;
  top: 0;
  left: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--label-color);
  transition: 0.5s;
  cursor: text;
}

.inputbox input {
  position: absolute;
  background-color: var(--primary-color);
  width: 100%;
  height: 4px;
  bottom: 0;
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 2px;
  transition: 0.5s;
  font-size: 20px;
  font-weight: 400;
  padding: 0 10px;
}

.inputbox input:focus,
.inputbox input:valid {
  height: 100%;
  color: black;
  background-color: var(--secundary-color);
  box-shadow: inset 5px 5px 15px 0px #00000070;
}

.inputbox input:focus + label,
.inputbox input:valid + label {
  top: -40px;
  left: 0;
}

.container button {
  justify-self: center;
  width: 200px;
  height: 50px;
  margin-top: px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.301);
  background: var(--primary-color);
  box-shadow: 2px 2px 5px 2px #00000070;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
}

.container button:hover {
  color: rgba(0, 0, 0, 0.6);
  background: var(--title-color);
}

footer {
  color: var(--title-color);
  margin-bottom: 10px;
}
